.simplex-table {
	margin: 0 auto;
	border: 0;
	border-collapse: separate;
	border-spacing: 0;
}

.simplex-table thead th {
	border-bottom: black solid 1px;
}

.simplex-table th,
.simplex-table td {
	border-left: black solid 1px;
	padding: 4px 20px;
	text-align: center;
}

.simplex-table th:first-child,
.simplex-table td:first-child {
	border-left: none;
}

.big-table {
	border: 0;
	border-collapse: separate;
	border-spacing: 0;
}

.big-table td {
	border-left: black solid 1px;
	border-bottom: black solid 1px;
	padding: 18px 24px;
	text-align: center;
}

.big-table tr:first-child td {
	border-top: black solid 1px;
}

.big-table td:last-child {
	border-right: black solid 1px;
}

.big-table td {
	position: relative;
}

.big-table td.strmin::after {
	content: 'min в строке';
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
}

.big-table td.collmax::before {
	content: 'max в столбце';
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px;
}

.broun {
	width: 100%;
	text-align: center;
}

.broun {
	border: none;
	border-collapse: collapse;
}

.broun td,
.broun th {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.broun td:first-child,
.broun th:first-child {
	border-left: none;
}

.broun td:last-child,
.broun th:last-child {
	border-right: none;
}

.broun thead {
	border-bottom: 1px solid #000;
}
